.txt-cl{
    
    color: #1E1E1E !important; 
}
.txt-cl:hover{
    color: #ff5100 !important;
    transition: .3s !important;
}
.h-title{
    font-size: 60px;
}
.round-radius{
    border-radius: 20px;
}
.icon-sz{
    height: 80px;
    width: 80px;
}